@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.slideHome::-webkit-scrollbar{
    display:none;
}

.sidebar::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 12px;
}
.sidebar::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: transparent;
}

.sidebar:hover::-webkit-scrollbar-thumb{
    background: #999; 
}

.swiper-button-next, .swiper-button-prev {
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #d1d5db;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 16px;
    font-weight: 600;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    overflow: hidden;
  }

